create database hr_system;
use hr_system;

-- 部门表（Department）
CREATE TABLE Department (
                            DepartmentID INT AUTO_INCREMENT PRIMARY KEY,
                            DepartmentName VARCHAR(30) NOT NULL UNIQUE
);

-- 员工表（Employee）
CREATE TABLE Employee (
                          EmployeeID INT AUTO_INCREMENT PRIMARY KEY,
                          EmployeeName VARCHAR(30) NOT NULL,
                          Password VARCHAR(100) NOT NULL,
                          EmployeeLevel CHAR(10) NOT NULL CHECK (EmployeeLevel IN ('管理员', '普通员工')),
                          DepartmentID INT NOT NULL,
                          JoinDate DATE NOT NULL,
                          FOREIGN KEY (DepartmentID) REFERENCES Department(DepartmentID)
);

-- 工资表（Salary）
CREATE TABLE Salary (
                        SalaryID INT AUTO_INCREMENT PRIMARY KEY,
                        EmployeeID INT NOT NULL,
                        BaseSalary DECIMAL(15, 3) NOT NULL,
                        SalaryPaymentDate DATE NOT NULL,
                        FOREIGN KEY (EmployeeID) REFERENCES Employee(EmployeeID)
);

-- 津贴表（Allowance）
CREATE TABLE Allowance (
                           AllowanceID INT AUTO_INCREMENT PRIMARY KEY,
                           EmployeeID INT NOT NULL,
                           AllowanceAmount DECIMAL(15, 3) NOT NULL,
                           AllowancePaymentDate DATE NOT NULL,
                           FOREIGN KEY (EmployeeID) REFERENCES Employee(EmployeeID)
);

-- 加班工资表（OvertimeSalary）
CREATE TABLE OvertimeSalary (
                                OvertimeSalaryID INT AUTO_INCREMENT PRIMARY KEY,
                                EmployeeID INT NOT NULL,
                                OvertimeHours DECIMAL(10, 1) NOT NULL,
                                OvertimeSalaryAmount DECIMAL(15, 3) NOT NULL,
                                OvertimeSalaryPaymentDate DATE NOT NULL,
                                FOREIGN KEY (EmployeeID) REFERENCES Employee(EmployeeID)
);

-- 代扣款项表（Deduction）
CREATE TABLE Deduction (
                           DeductionID INT AUTO_INCREMENT PRIMARY KEY,
                           EmployeeID INT NOT NULL,
                           DeductionAmount DECIMAL(15, 3) NOT NULL,
                           DeductionDate DATE NOT NULL,
                           FOREIGN KEY (EmployeeID) REFERENCES Employee(EmployeeID)
);

-- 插入部门数据
INSERT INTO Department (DepartmentName) VALUES
                                            ('技术部'),
                                            ('市场部'),
                                            ('财务部'),
                                            ('人力资源部'),
                                            ('行政部');

-- 插入员工数据（使用SHA-256加密密码，无盐值）
-- 密码生成方式：SHA256(明文密码)
 -- emp123
-- 插入工资数据（为每位员工插入2023年不同月份的工资记录）

-- 插入津贴数据（技术部和市场部员工有项目津贴）

-- 插入加班工资数据（技术部和市场部员工有加班情况）

-- 插入代扣款项数据（社保、公积金等）

CREATE VIEW DepartmentView AS
SELECT * FROM Department;

CREATE VIEW EmployeeView AS
SELECT *
FROM Employee;

CREATE VIEW SalaryView AS
SELECT *
FROM Salary;


CREATE VIEW AllowanceView AS
SELECT *
FROM Allowance;


CREATE VIEW DeductionView AS
SELECT *
FROM Deduction;

CREATE VIEW OvertimeSalaryView AS
SELECT *
FROM OvertimeSalary;


-- 将所有普通员工密码更新为"emp123"
UPDATE Employee
SET Password = 'emp123'
WHERE EmployeeLevel = '普通员工';

-- 将所有管理员密码更新为"admin123"
UPDATE Employee
SET Password = 'admin123'
WHERE EmployeeLevel = '管理员';

CREATE OR REPLACE VIEW 部门视图 AS
SELECT
    d.DepartmentID AS 部门编号,
    d.DepartmentName AS 部门名称
FROM Department d;

CREATE OR REPLACE VIEW 员工视图 AS
SELECT
    e.EmployeeID AS 员工编号,
    e.EmployeeName AS 员工姓名,
    e.Password AS 密码,
    e.EmployeeLevel AS 员工级别,
    d.DepartmentName AS 所属部门,
    e.JoinDate AS 入职日期
FROM Employee e
         JOIN Department d ON e.DepartmentID = d.DepartmentID;

CREATE OR REPLACE VIEW 工资视图 AS
SELECT
    s.SalaryID AS 工资记录编号,
    e.EmployeeName AS 员工姓名,
    s.BaseSalary AS 基本工资,
    s.SalaryPaymentDate AS 工资发放日期
FROM Salary s
         JOIN Employee e ON s.EmployeeID = e.EmployeeID;

CREATE OR REPLACE VIEW 津贴视图 AS
SELECT
    a.AllowanceID AS 津贴记录编号,
    e.EmployeeName AS 员工姓名,
    a.AllowanceAmount AS 津贴金额,
    a.AllowancePaymentDate AS 津贴发放日期
FROM Allowance a
         JOIN Employee e ON a.EmployeeID = e.EmployeeID;

CREATE OR REPLACE VIEW 加班工资视图 AS
SELECT
    os.OvertimeSalaryID AS 加班记录编号,
    e.EmployeeName AS 员工姓名,
    os.OvertimeHours AS 加班小时数,
    os.OvertimeSalaryAmount AS 加班工资,
    os.OvertimeSalaryPaymentDate AS 加班工资发放日期
FROM OvertimeSalary os
         JOIN Employee e ON os.EmployeeID = e.EmployeeID;

CREATE OR REPLACE VIEW 代扣款项视图 AS
SELECT
    d.DeductionID AS 扣款记录编号,
    e.EmployeeName AS 员工姓名,
    d.DeductionAmount AS 扣款金额,
    d.DeductionDate AS 扣款日期
FROM Deduction d
         JOIN Employee e ON d.EmployeeID = e.EmployeeID;



CREATE OR REPLACE VIEW 综合工资明细视图 AS
SELECT
    s.SalaryID AS 工资记录ID,
    e.EmployeeName AS 员工姓名,
    d.DepartmentName AS 所属部门,
    DATE_FORMAT(s.SalaryPaymentDate, '%Y-%m') AS 工资月份,
    s.BaseSalary AS 基本工资,
    COALESCE(a.AllowanceTotal, 0) AS 津贴总额,
    COALESCE(os.OvertimeTotal, 0) AS 加班工资总额,
    COALESCE(dd.DeductionTotal, 0) AS 扣款总额,
    (s.BaseSalary + COALESCE(a.AllowanceTotal, 0) + COALESCE(os.OvertimeTotal, 0)) AS 应发工资,
    (s.BaseSalary + COALESCE(a.AllowanceTotal, 0) + COALESCE(os.OvertimeTotal, 0) - COALESCE(dd.DeductionTotal, 0)) AS 实发工资
FROM Salary s
         JOIN Employee e ON s.EmployeeID = e.EmployeeID
         JOIN Department d ON e.DepartmentID = d.DepartmentID
         LEFT JOIN (
    SELECT
        EmployeeID,
        DATE_FORMAT(AllowancePaymentDate, '%Y-%m') AS AllowanceMonth,
        SUM(AllowanceAmount) AS AllowanceTotal
    FROM Allowance
    GROUP BY EmployeeID, AllowanceMonth
) a ON s.EmployeeID = a.EmployeeID
    AND DATE_FORMAT(s.SalaryPaymentDate, '%Y-%m') = a.AllowanceMonth
         LEFT JOIN (
    SELECT
        EmployeeID,
        DATE_FORMAT(OvertimeSalaryPaymentDate, '%Y-%m') AS OvertimeMonth,
        SUM(OvertimeSalaryAmount) AS OvertimeTotal
    FROM OvertimeSalary
    GROUP BY EmployeeID, OvertimeMonth
) os ON s.EmployeeID = os.EmployeeID
    AND DATE_FORMAT(s.SalaryPaymentDate, '%Y-%m') = os.OvertimeMonth
         LEFT JOIN (
    SELECT
        EmployeeID,
        DATE_FORMAT(DeductionDate, '%Y-%m') AS DeductionMonth,
        SUM(DeductionAmount) AS DeductionTotal
    FROM Deduction
    GROUP BY EmployeeID, DeductionMonth
) dd ON s.EmployeeID = dd.EmployeeID
    AND DATE_FORMAT(s.SalaryPaymentDate, '%Y-%m') = dd.DeductionMonth;



CREATE VIEW 部门工资统计视图 AS
SELECT
    d.DepartmentID AS 部门编号,
    d.DepartmentName AS 部门名称,
    DATE_FORMAT(s.SalaryPaymentDate, '%Y-%m') AS 工资月份,
    COUNT(DISTINCT e.EmployeeID) AS 员工人数,
    SUM(s.BaseSalary) AS 基本工资总额,
    COALESCE(SUM(a.AllowanceAmount), 0) AS 津贴总额,
    COALESCE(SUM(os.OvertimeSalaryAmount), 0) AS 加班工资总额,
    COALESCE(SUM(dd.DeductionAmount), 0) AS 扣款总额,
    SUM(s.BaseSalary) +
    COALESCE(SUM(a.AllowanceAmount), 0) +
    COALESCE(SUM(os.OvertimeSalaryAmount), 0) AS 应发工资总额,
    SUM(s.BaseSalary) +
    COALESCE(SUM(a.AllowanceAmount), 0) +
    COALESCE(SUM(os.OvertimeSalaryAmount), 0) -
    COALESCE(SUM(dd.DeductionAmount), 0) AS 实发工资总额
FROM Salary s
         JOIN Employee e ON s.EmployeeID = e.EmployeeID
         JOIN Department d ON e.DepartmentID = d.DepartmentID
         LEFT JOIN Allowance a ON s.EmployeeID = a.EmployeeID
    AND DATE_FORMAT(s.SalaryPaymentDate, '%Y-%m') = DATE_FORMAT(a.AllowancePaymentDate, '%Y-%m')
         LEFT JOIN OvertimeSalary os ON s.EmployeeID = os.EmployeeID
    AND DATE_FORMAT(s.SalaryPaymentDate, '%Y-%m') = DATE_FORMAT(os.OvertimeSalaryPaymentDate, '%Y-%m')
         LEFT JOIN Deduction dd ON s.EmployeeID = dd.EmployeeID
    AND DATE_FORMAT(s.SalaryPaymentDate, '%Y-%m') = DATE_FORMAT(dd.DeductionDate, '%Y-%m')
GROUP BY d.DepartmentID, d.DepartmentName, DATE_FORMAT(s.SalaryPaymentDate, '%Y-%m');


DELIMITER //
CREATE FUNCTION 重置为默认密码(员工编号 INT)
    RETURNS VARCHAR(100)
    DETERMINISTIC
BEGIN
    DECLARE 员工级别 CHAR(10);
    DECLARE 新密码 VARCHAR(100);

    -- 获取员工级别
    SELECT EmployeeLevel INTO 员工级别
    FROM Employee
    WHERE EmployeeID = 员工编号;

    IF 员工级别 IS NULL THEN
        SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = '员工不存在';
    END IF;

    -- 设置默认密码
    IF 员工级别 = '管理员' THEN
        SET 新密码 = 'admin123';
    ELSE
        SET 新密码 = 'emp123';
    END IF;

    -- 更新密码
    UPDATE Employee
    SET Password = 新密码
    WHERE EmployeeID = 员工编号;

    RETURN CONCAT('密码已重置为默认值');
END //
DELIMITER ;

select 重置为默认密码(9);
select 重置为默认密码(10);


-- 创建新员工入职触发器
DELIMITER //
CREATE TRIGGER 新员工入职_设置默认密码
    BEFORE INSERT ON Employee
    FOR EACH ROW
BEGIN
    -- 如果密码字段为空，则设置默认密码
    IF NEW.Password IS NULL OR NEW.Password = '' THEN
        -- 管理员和普通员工使用不同默认密码
        IF NEW.EmployeeLevel = '管理员' THEN
            SET NEW.Password = 'admin123';
        ELSE
            SET NEW.Password = 'emp123';
        END IF;
    END IF;
END //
DELIMITER ;

-- 创建部门保护触发器

DELIMITER //
CREATE TRIGGER 部门保护
    BEFORE DELETE ON Department
    FOR EACH ROW
BEGIN
    -- 检查部门是否仍有员工
    IF (SELECT COUNT(*) FROM Employee WHERE DepartmentID = OLD.DepartmentID) > 0 THEN
        SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = '该部门仍有员工，无法删除';
    END IF;
END //
DELIMITER ;



-- 创建生成员工工资单存储过程

DELIMITER //
CREATE PROCEDURE 生成员工工资单(
    IN 员工姓名 VARCHAR(30),
    IN 工资月份 CHAR(7) -- 格式：YYYY-MM
)
BEGIN
    SELECT
        e.EmployeeName AS 员工姓名,
        d.DepartmentName AS 所属部门,
        s.BaseSalary AS 基本工资,
        COALESCE(a.AllowanceTotal, 0) AS 津贴总额,
        COALESCE(os.OvertimeTotal, 0) AS 加班工资总额,
        COALESCE(dd.DeductionTotal, 0) AS 扣款总额,
        (s.BaseSalary + COALESCE(a.AllowanceTotal, 0) + COALESCE(os.OvertimeTotal, 0)) AS 应发工资,
        (s.BaseSalary + COALESCE(a.AllowanceTotal, 0) + COALESCE(os.OvertimeTotal, 0) - COALESCE(dd.DeductionTotal, 0)) AS 实发工资
    FROM Salary s
             JOIN Employee e ON s.EmployeeID = e.EmployeeID
             JOIN Department d ON e.DepartmentID = d.DepartmentID
             LEFT JOIN (
        SELECT
            EmployeeID,
            SUM(AllowanceAmount) AS AllowanceTotal
        FROM Allowance
        WHERE DATE_FORMAT(AllowancePaymentDate, '%Y-%m') = 工资月份
        GROUP BY EmployeeID
    ) a ON s.EmployeeID = a.EmployeeID
             LEFT JOIN (
        SELECT
            EmployeeID,
            SUM(OvertimeSalaryAmount) AS OvertimeTotal
        FROM OvertimeSalary
        WHERE DATE_FORMAT(OvertimeSalaryPaymentDate, '%Y-%m') = 工资月份
        GROUP BY EmployeeID
    ) os ON s.EmployeeID = os.EmployeeID
             LEFT JOIN (
        SELECT
            EmployeeID,
            SUM(DeductionAmount) AS DeductionTotal
        FROM Deduction
        WHERE DATE_FORMAT(DeductionDate, '%Y-%m') = 工资月份
        GROUP BY EmployeeID
    ) dd ON s.EmployeeID = dd.EmployeeID
    WHERE e.EmployeeName = 员工姓名
      AND DATE_FORMAT(s.SalaryPaymentDate, '%Y-%m') = 工资月份;
END //
DELIMITER ;

-- 生成员工工资单存储过程
call 生成员工工资单('范总', '2023-01');

CREATE VIEW 部门详细统计视图 AS
SELECT
    d.DepartmentID AS 部门编号,
    d.DepartmentName AS 部门名称,
    COUNT(e.EmployeeID) AS 员工总数,
    SUM(CASE WHEN e.EmployeeLevel = '管理员' THEN 1 ELSE 0 END) AS 管理员人数,
    SUM(CASE WHEN e.EmployeeLevel = '普通员工' THEN 1 ELSE 0 END) AS 普通员工人数,
    MIN(e.JoinDate) AS 最早入职日期,
    MAX(e.JoinDate) AS 最近入职日期
FROM
    Department d
        LEFT JOIN
    Employee e ON d.DepartmentID = e.DepartmentID
GROUP BY
    d.DepartmentID, d.DepartmentName
ORDER BY
    d.DepartmentID;